.App {
  text-align: center;
}
:root {
  --dark-blue-backgroud: #110030;
  --light-blue-backgroud: #180048;
}
.App-header {
  padding: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  background-color: var(--dark-blue-backgroud);
}

.App-header img {
  height: 2rem;
}
.shopping-cart {
  fill: white;
  justify-self: end;
}
